.area-campo-senha {
    position: relative;
}

.area-campo-senha input {
    padding-right: 40px;
}

.area-campo-senha button {
    position: absolute;
    top: 17px;
    right: 13px;
    font-family: 0.938em;
}