.area-botoes-chamada-acao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.area-botoes-chamada-acao a {
    background-color: var(--cor-3);
    padding: 16px 18px;
}

.area-botoes-chamada-acao a:hover {
    background-color: var(--cor-4);
}