.container-campos-tipo-usuario {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.box-campo-tipo-usuario input {
  display: none;
}

.box-campo-tipo-usuario input:checked + label::before {
  background-color: #e08e4c;
  border: 0.3rem solid #fff;
  outline: 0.1rem solid #e08e4c;
}

.box-campo-tipo-usuario label {
  display: inline-block;
  font-size: 1.5rem;
}

.box-campo-tipo-usuario label::before {
  display: inline-block;
  box-sizing: inherit;
  content: "";
  vertical-align: middle;
  background-color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid #bbb;
  border-radius: 50%;
  margin: 0 1rem 0.2rem 0;
  cursor: pointer;
}
