.tema-escuro .campo {
  background-color: #222;
  border: none;
}

.container-campo {
  margin-bottom: 1.6rem;
}

.label {
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.label span {
  color: #c84755;
}

.campo {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  background-color: #fff;
  width: 100%;
  padding: 1.5rem 1.3rem;
  border: 0.1rem solid #bbb;
  border-radius: 0.8rem;
}

.campo:focus {
  outline: none;
  box-shadow: none;
}

.botao-enviar {
  font-size: 1.5rem;
  padding: 1.5rem 1.7rem;
}
