.label {
    display: inline-block;
    margin-bottom: 16px;
}

.label span {
    color: #c84755;
}

.campo {
    display: block;
    font-family: unset;
    font-size: 0.938em;
    color: unset;
    width: 100%;
    padding: 15px 13px;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-bottom: 16px;
}

.campo:focus {
    border-color: #e08e4c;
    outline: none;
    box-shadow: 0 0 10px #e08e4c;
}

.botao-envia-formulario {
    font-size: 0.938em;
    background-color: #e08e4c;
    padding: 15px 17px;
}

.botao-envia-formulario:hover {
    background-color: #b47038;
}