@charset "UTF-8";

.lista-botoes-chamada-acao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.item-lista-botoes-chamada-acao a {
    background-color: #e08e4c;
    padding: 16px 18px;
}

.item-lista-botoes-chamada-acao a:hover {
    background-color: #b47038;
}