@charset "UTF-8";

.fundo-modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.fundo-modal.escondido {
    opacity: 0;
    pointer-events: none;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    overflow-y: auto;
    width: 400px;
    max-width: 90%;
    max-height: 90%;
    padding: 16px;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

.modal.escondido {
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.modal h3 {
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #bbb;
}

.modal p {
    min-height: 40px;
}

.modal button {
    font-size: 0.875em;
    padding: 14px 16px;
}