@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f0f0f0;
    min-height: 100dvh;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: unset;
    color: unset;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

i {
    display: inline-block;
    color: unset;
    pointer-events: none;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
    line-height: normal;
    color: unset;
}

main {
    flex: 1;
    align-self: center;
    width: 1400px;
    max-width: 90%;
    padding: 32px 0;
}

span {
    display: inline-block;
}

.botao {
    text-align: center;
    color: #fff;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 32px 16px;
}

.menu-navegacao {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background-color: #c84755;
}

.menu-navegacao button {
    font-size: 1em;
    padding: 16px 18px;
    transition: 0.5s ease-in-out;
}

.menu-navegacao button:hover {
    background-color: #972b37;
}

#lista-menu-navegacao {
    overflow-y: hidden;
    background-color: #972b37;
    height: 0;
    transition: 0.5s ease-in-out;
}

.item-lista-menu-navegacao a {
    display: block;
    padding: 16px 0;
}

.area-botoes-acessibilidade {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.area-botoes-acessibilidade button {
    font-size: 0.938em;
    background-color: #62a48d;
    padding: 15px;
}

.area-botoes-acessibilidade button:hover {
    background-color: #417261;
}

.rodape {
    font-style: italic;
    text-align: center;
    color: #fff;
    background-color: #495672;
    padding: 16px;
}

@media (min-width: 1200px) {
    .menu-navegacao button {
        display: none;
    }

    #lista-menu-navegacao {
        display: flex;
        justify-content: center;
        overflow-y: unset;
        background-color: unset;
        height: unset;
        transition: unset;
    }

    .item-lista-menu-navegacao a {
        padding: 16px 18px;
        transition: 0.5s ease-in-out;
    }

    .item-lista-menu-navegacao a:hover {
        background-color: #972b37;
    }
}