/* Variáveis */
:root {
    --cor-1: #c84755;
    --cor-2: #86323c;
    --cor-3: #e08e4c;
    --cor-4: #b8753e;
    --cor-5: #428cdb;
    --cor-6: #0056b3;
    --cor-7: #62a48d;
    --cor-8: #4a7e6b;
    --cor-9: #495672;
}

/* Estilos gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f0f0f0;
    min-height: 100dvh;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: unset;
    font-size: 1em;
    color: unset;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

i {
    display: inline-block;
    color: unset;
    pointer-events: none;
}

a {
    display: inline-block;
    text-decoration: none;
    line-height: normal;
    color: unset;
}

main {
    flex: 1;
    align-self: center;
    width: 1400px;
    max-width: 90%;
    padding: 32px 0;
}

span {
    display: inline-block;
}

/* Helpers */
.botao {
    text-align: center;
    color: #fff;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

.tema-escuro {
    color: #fff;
    background-color: #222;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 32px 16px;
}

/* Menu de navegação */
.menu-navegacao {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background-color: var(--cor-1);
}

.menu-navegacao button {
    padding: 16px 18px;
    transition: 0.5s ease-in-out;
}

.menu-navegacao button:hover {
    background-color: var(--cor-2);
}

#area-links-menu-navegacao {
    overflow-y: hidden;
    background-color: var(--cor-2);
    height: 0;
    transition: 0.5s ease-in-out;
}

#area-links-menu-navegacao a {
    display: block;
    padding: 16px 0;
}

/* Área de acessibilidade */
.area-acessibilidade {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.area-acessibilidade button {
    font-size: 0.938em;
    background-color: var(--cor-7);
    padding: 15px;
}

.area-acessibilidade button:hover {
    background-color: var(--cor-8);
}

/* Rodapé */
.rodape {
    font-style: italic;
    text-align: center;
    color: #fff;
    background-color: var(--cor-9);
    padding: 16px;
}

/* Responsividade */

/* Desktops (>= 1200px) */
@media (min-width: 1200px) {
    .menu-navegacao button {
        display: none;
    }

    #area-links-menu-navegacao {
        display: flex;
        justify-content: center;
        overflow-y: unset;
        background-color: unset;
        height: unset;
        transition: unset;
    }

    #area-links-menu-navegacao a {
        padding: 16px 18px;
        transition: 0.5s ease-in-out;
    }

    #area-links-menu-navegacao a:hover {
        background-color: var(--cor-2);
    }
}