.tema-escuro .container-links-redes-sociais a:hover {
  color: #6daef5;
}

.conteudo-principal {
  text-align: center;
}

.conteudo-principal img {
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.conteudo-principal p {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.container-links-redes-sociais {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.container-links-redes-sociais a {
  font-size: 3rem;
  transition: 0.5s ease-in-out;
}

.container-links-redes-sociais a:hover {
  color: #0056b3;
}
