* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f0f0f0;
    min-height: 100dvh;
}

a {
    display: inline-block;
    text-decoration: none;
    line-height: normal;
    color: unset;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

span {
    display: inline-block;
}

button {
    font-family: unset;
    font-size: 1em;
    color: unset;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

main {
    flex: 1;
    align-self: center;
    width: 1400px;
    max-width: 90%;
    padding: 32px 0;
}

.btn {
    text-align: center;
    color: #fff;
    border-radius: 8px;
    transition: 0.5s;
}

.dark-theme {
    color: #fff;
    background-color: #222;
}

.brand-container {
    padding: 32px 16px;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.brand span {
    font-weight: bold;
    font-size: 2em;
}

.navbar {
    text-align: center;
    color: #fff;
    background-color: #c84755;
}

.navbar button {
    padding: 16px 18px;
    transition: 0.5s;
}

.navbar button:hover {
    background-color: #943742;
}

#navbar-list {
    overflow-y: hidden;
    list-style-type: none;
    background-color: #943742;
    height: 0;
    transition: 0.5s;
}

.navbar-list-item a {
    display: block;
    padding: 16px 0;
}

.accessibility-btns-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.accessibility-btns-container button {
    font-size: 0.938em;
    background-color: #62a48d;
    padding: 15px;
}

.accessibility-btns-container button:hover {
    background-color: #4f806f;
}

.footer {
    font-style: italic;
    text-align: center;
    color: #fff;
    background-color: #495672;
    padding: 16px;
}

@media (min-width: 1200px) {
    .navbar button {
        display: none;
    }

    #navbar-list {
        display: flex;
        justify-content: center;
        overflow-y: unset;
        background-color: unset;
        height: unset;
        transition: unset;
    }

    .navbar-list-item a {
        padding: 16px 18px;
        transition: 0.5s;
    }

    .navbar-list-item a:hover {
        background-color: #943742;
    }
}