.container-botoes-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.botao-voltar {
  font-size: 1.5rem;
  background-color: #cc0000;
  padding: 1.5rem 1.7rem;
}

.botao-voltar:hover {
  color: #cc0000;
  background-color: transparent;
  border-color: #cc0000;
}
