.area-confirmacao {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.botao-confirmacao {
    font-size: .8em;
    padding: 14px 16px;
}

.botao-confirmar {
    background-color: #495672;
}

.botao-confirmar:hover {
    color: #495672;
    background-color: transparent;
    border-color: #495672;
}

.botao-negar {
    background-color: #ff0000;
}

.botao-negar:hover {
    color: #ff0000;
    background-color: transparent;
    border-color: #ff0000;
}