/* Geral */
* {
  font-family: "Inter", sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  text-align: justify;
  line-height: 1.5;
  background-color: #f0f0f0;
  min-height: 100dvh;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
  cursor: pointer;
}

i {
  color: inherit;
  pointer-events: none;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  line-height: normal;
}

/* Cabeçalho */
.cabecalho {
  text-align: center;
}

.area-logo {
  padding: 3.2rem;
}

.img-logo {
  width: 8rem;
  margin-bottom: 0.5rem;
}

.titulo-principal {
  font-size: 3.2rem;
}

.barra-nav-principal {
  background-color: #c84755;
}

.botao-alternar-barra-nav-lateral {
  font-size: 1.6rem;
  color: #fff;
  background-color: transparent;
  padding: 1.6rem 1.8rem;
  border: none;
  transition: background-color 0.5s ease-in-out;
}

.botao-alternar-barra-nav-lateral:hover {
  background-color: #92313d;
}

.lista-nav-principal {
  display: none;
}

/* Conteúdo principal */
.conteudo-principal {
  flex: 1;
  align-self: center;
  width: 70rem;
  max-width: 90%;
  padding: 3.2rem 0;
}

.botao {
  color: #fff;
  border: 0.1rem solid transparent;
  border-radius: 0.8rem;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
}

/* Barra de navegação lateral */
.fundo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.fundo.esconder {
  opacity: 0;
  pointer-events: none;
}

.barra-nav-lateral {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  will-change: transform;
  background-color: #c84755;
  width: 30rem;
  max-width: 80%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.barra-nav-lateral.esconder {
  transform: translateX(-100%);
}

.botao-fechar-barra-nav-lateral {
  align-self: flex-end;
}

.lista-nav-lateral {
  align-self: center;
  width: 80%;
  margin: 1.6rem 0 3.2rem;
}

.link-nav-lateral {
  display: block;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  padding: 1.6rem 0;
  border-bottom: 0.1rem solid #fff;
}

/* Caixa de diálogo */
.dialogo {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  overflow-y: auto;
  will-change: transform;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 40rem;
  max-width: 90%;
  max-height: 90%;
  padding: 1.6rem;
  border-radius: 0.8rem;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.dialogo.esconder {
  transform: translate(-50%, -100%);
  opacity: 0;
  pointer-events: none;
}

.titulo-dialogo {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1.6rem;
  border-bottom: 0.1rem solid #aaa;
}

.txt-dialogo {
  font-size: 1.6rem;
  min-height: 4rem;
}

.botao-fechar-dialogo {
  align-self: flex-end;
  font-size: 1.3rem;
  background-color: #cc0000;
  padding: 1.3rem 1.5rem;
}

.botao-fechar-dialogo:hover {
  color: #cc0000;
  background-color: transparent;
  border-color: #cc0000;
}

/* Rodapé */
.rodape {
  background-color: #b7b7a7;
  padding: 1.6rem;
}

.creditos {
  font-style: italic;
  font-size: 1.6rem;
  text-align: center;
}

/* Responsividade */

/* Tablets (>= 768px) */
@media (min-width: 768px) {
  .botao-abrir-barra-nav-lateral {
    display: none;
  }

  .lista-nav-principal {
    display: flex;
    justify-content: center;
  }

  .link-nav-principal {
    font-size: 1.6rem;
    color: #fff;
    padding: 1.6rem 1.8rem;
    transition: background-color 0.5s ease-in-out;
  }

  .link-nav-principal:hover {
    background-color: #92313d;
  }
}

/* Desktops médios (>= 1200px) */
@media (min-width: 1200px) {
  html {
    font-size: 64%;
  }
}

/* Desktops grandes (>= 1400px) */
@media (min-width: 1400px) {
  html {
    font-size: 70%;
  }
}
